@model Dashboard_New.Models.VModel
@using System.Globalization
@*@model Dashboard_New.Models.custom.dcvendor*@
@{
    ViewBag.Title = "dc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/datepicker/table.css" rel="stylesheet" />

<link href="~/Content/datepicker/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/datepicker/jquery-ui.js"></script>
<script>

    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'dd/mm/yy'
        });

    });
</script>
<style>
    .field-validation-error {
        color: goldenrod;
    }
</style>

<div class="container body" >
    @using (Html.BeginForm("dcpost", "Home", FormMethod.Post))
        {
        <table cellpadding="0" cellspacing="0" align="center">
            <tr>
                <td>From Date: </td>
                <td> &nbsp;</td>
                <td>
                    @Html.TextBoxFor(m => m.from_dt1, new { Class = "datepicker" })
                    @Html.ValidationMessageFor(m => m.from_dt1)
                </td>
                <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td>To Date: </td>
                <td> &nbsp;</td>
                <td>
                    @Html.TextBoxFor(m => m.to_dt1, new { Class = "datepicker" })
                    @Html.ValidationMessageFor(m => m.to_dt1)
                </td>
                <td> &nbsp;</td>
                <td><input type="submit" value="Submit" name="grid" /></td>
                <td> &nbsp;</td>
                <td><input type="submit" value="Export To Excel" name="export" /></td>
            </tr>
            <tr>
                <td align="center">(dd/mm/yyyy)</td>
                <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td> &nbsp; &nbsp; </td>

                <td align="center">(dd/mm/yyyy)</td>
            </tr>
        </table>
        }
</div>
<br />
<div class="dclist" id='scrolly' >
    <table border="1" id="customers">
        <tr style="color:#024b72">
            <th>DINP</th>
            <th>Vendor Name</th>
            <th>DCTRNO</th>
            <th>Amount</th>
            <th>NPRNO</th>
            <th>ICCNO</th>
            <th>COMNO</th>
            <th>VRNO</th>
            <th>BRNO</th>
            <th>DCID</th>
            <th>ASSTCK</th>
            <th>ACCTCK</th>
            <th>ACCT1CK</th>
            <th>SOCK</th>
            <th>DRCK</th>
            <th>CRDATE</th>
            <th>DCTRBNO</th>
            <th>LUSER</th>
        </tr>
        @foreach (var rec in Model.dm)
                {
                <tr>
                    <td>@rec.DINP.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</td>
                    <td>@rec.vname</td>
                    <td>@rec.DCTRNO</td>
                    <td>@rec.AMOUNT</td>
                    <td>@rec.NPRNO</td>
                    <td>@rec.ICCNO</td>
                    <td>@rec.COMNO</td>
                    <td>@rec.VRNO</td>
                    <td>@rec.BRNO</td>
                    <td>@rec.DCID</td>
                    <td>@rec.ASSTCK</td>
                    <td>@rec.ACCTCK</td>
                    <td>@rec.ACCT1CK</td>
                    <td>@rec.SOCK</td>
                    <td>@rec.DRCK.</td>
                    <td>@rec.CRDATE</td>
                    <td>@rec.DCTRBNO</td>
                    <td>@rec.LUSER</td>
                </tr>
                }
    </table>
    @*@using (Html.BeginForm("Export", "Home", FormMethod.Post))
        {
            <input type="submit" value="Export" />
        }*@
</div>

