@model Dashboard_New.Models.VModel
@{
    ViewBag.Title = "pdc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/datepicker/table.css" rel="stylesheet" />
<link href="~/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet" />
<link href="~/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>


<script>
   $(function () {
        var sd = new Date(), ed = new Date();
        var temp2;
        var temp;
        $('#from_year').datetimepicker({
            format: "YY",
            //defaultDate: sd,
            //maxDate: ed,
            minDate: '1990'
        });

        //temp2 = $('#from_year').data('date');
        //temp = new Date(temp2);
        //$('#to_year').val(temp.getFullYear() + 1);

        /*$("#from_year").on("dp.change", function (e) {
            temp2 = $('#from_year').data('date');
            temp = new Date(temp2);
            $('#to_year').val(temp.getFullYear() + 1);
        });*/


        $('#to_year').datetimepicker({
            //format: "YYYY",
            format: 'MM',
            //defaultDate: sd,
            //maxDate: ed,
            minDate: '1990'
        });

    });

   


</script>
<style>
    .field-validation-error {
        color: goldenrod;
    }
</style>

<div class="container body">
    @using (Html.BeginForm("pfms_vc_post", "Home", FormMethod.Post))
    {
        <table cellpadding="0" cellspacing="0" align="center">
            <tr>
                <td>From Year: </td>
                <td> &nbsp;</td>
                <td>
                    @*<input id="from_year" name="from_year" type="text" class="form-control" />*@
                    @Html.TextBoxFor(m => m.from_year, new { @Class = "startDate" })
                    @* @Html.ValidationMessageFor(m => m.from_year)*@
                </td>
                <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td>To Year: </td>
                <td> &nbsp;</td>
                <td>
                    @Html.TextBoxFor(m => m.to_year, new { @Class = "endDate" })
                    @*@Html.ValidationMessageFor(m => m.to_year)*@
                    @*<input id="to_year" name="to_year" type="text" class="form-control" />*@
                </td>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td>
                <fieldset>
                    Movie Type 
                    <select id="MovieType" name="MovieType">                     
                        <option value="0">Action</option>
                        <option value="1">Drama</option>
                        <option selected="selected" value="2">Comedy</option>
                        <option value="3">Science Fiction</option>
                    </select>
                    <p><input type="submit" value="Submitt" /> </p>
                </fieldset>
                </td>
                <!-- <td><input type="hidden" value=emp name="id" /></td>-->
                <td><input type="submit" value="Submit" name="grid" /></td>

                <td> &nbsp;</td>
                <td><input type="submit" value="Export To Excel" name="export" /></td>
            </tr>
            <tr>
                <td align="center">(yyyy)</td>
                <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td> &nbsp; &nbsp; &nbsp; &nbsp;</td>
                <td> &nbsp; &nbsp; </td>
                <td align="center">(yyyy)</td>
            </tr>
        </table>
        <table>
            <tr>
                <td align="center">
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                    &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp;  &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;(Example: REC1819)
                </td>
            </tr>
        </table>
    }
</div>
<br />
<div class="dclist" id='scrolly'>
    <table border="1" id="customers">
        <tr style="color:#024b72">
            <th>DATE</th>
            <th>AMOUNT</th>
            <th>VRNO</th>
            <th>NPRNO</th>
            <th>PART</th>
            <th>HEAD</th>
            <th>DISC</th>
            <th>DIS</th>
            <th>ICCNO</th>
            <th>PONO</th>
            <th>COMNO</th>
            <th>CQNO</th>
       
        </tr>
        @foreach (var rec in Model.pfm_vclist)
        {
            <tr>
                <td>@rec.DATE</td>
                <td>@rec.AMOUNT</td>
                <td>@rec.VRNO</td>
                <td>@rec.NPRNO</td>
                <td>@rec.PART</td>
                <td>@rec.HEAD</td>
                <td>@rec.DISC</td>
                <td>@rec.DIS</td>
                <td>@rec.ICCNO</td>
                <td>@rec.PONO</td>
                <td>@rec.COMNO</td>
                <td>@rec.CQNO</td>
             
              

            </tr>
        }
    </table>
    @*@using (Html.BeginForm("Export", "Home", FormMethod.Post))
        {
            <input type="submit" value="Export" />
        }*@
</div>
